Repository hardbyte/python-can, pull requests merged in 2018-08, with the labels that each got.

#380 Add Python 3.7 testing on AppVeyor & Fix Travis CI
  .appveyor.yml
  .travis.yml
Labels: os:osx, os:windows, testing, work-in-progress

#348 IO module enhancements
  .gitignore
  can/io/__init__.py
  can/io/asc.py
  can/io/blf.py
  can/io/canutils.py
  can/io/csv.py
  can/io/generic.py
  can/io/logger.py
  can/io/player.py
  can/io/printer.py
  can/io/sqlite.py
  can/io/stdout.py
  can/listener.py
  can/message.py
  can/thread_safe_bus.py
  doc/history.rst
  doc/listeners.rst
  test/back2back_test.py
  test/contextmanager_test.py
  test/data/example_data.py
  test/listener_test.py
  test/logformats_test.py
Labels: api, docs, enhancement, major

#384 SocketCAN: Enable error frames
  can/interfaces/socketcan/socketcan.py
Labels: backend:socketcan, bug

#381 IsOpen should not be use to check if bus is open
  can/interfaces/ics_neovi/neovi_bus.py
Labels: backend:neovi, bug, minor

#383 Removed TextIOWrapper from serial.
  can/interfaces/slcan.py
Labels: backend:serial, bug, minor

#365 Added support for PCAN on Mac
  can/interface.py
  can/interfaces/pcan/basic.py
  can/interfaces/pcan/pcan.py
  doc/interfaces/pcan.rst
  doc/interfaces/socketcan.rst
Labels: backend:pcan, enhancement

#389 Fix entry points for 3rd party interfaces
  can/interfaces/__init__.py
  doc/interfaces.rst
Labels: api, bug, docs

#387 Select vector hardware by serial number
  can/interfaces/vector/canlib.py
Labels: backend:vector, enhancement

#397 Fix issue #394
  can/thread_safe_bus.py
Labels: bug

#393 serial: switch to serial_for_url instead of Serial
  can/interfaces/serial/serial_can.py
  can/interfaces/slcan.py
  doc/interfaces/serial.rst
  doc/interfaces/slcan.rst
  test/serial_test.py
Labels: backend:serial, enhancement, testing
