Repository hardbyte/python-can, pull requests merged in 2018-06, with the labels that each got.

#283 Feature: Context manager
  can/bus.py
  can/interfaces/pcan/pcan.py
  can/interfaces/virtual.py
  test/back2back_test.py
  test/contextmanager_test.py
Labels: api, enhancement, help wanted

#319 Fix possible problems in Bus constructor
  can/bus.py
  can/interface.py
  can/interfaces/ics_neovi/neovi_bus.py
  can/interfaces/nican.py
  can/interfaces/socketcan/socketcan_ctypes.py
  test/back2back_test.py
  test/listener_test.py
Labels: api, bug

#316 Add support for new BLF files
  can/io/blf.py
Labels: enhancement

#321 Add support for Kvaser config detection
  can/interfaces/kvaser/canlib.py
  test/test_kvaser.py
Labels: backend:kvaser

#322 Removed Python 3.3 CI testing
  .appveyor.yml
  .travis.yml
Labels: os:linux, testing

#323 SocketCAN (native) cyclic improvements
  can/interfaces/socketcan/socketcan_native.py
Labels: backend:socketcan, enhancement, os:linux

#315 Feature: Synchronized bus instance
  can/__init__.py
  can/bus.py
  can/interfaces/socketcan/socketcan_common.py
  can/thread_safe_bus.py
  doc/api.rst
  doc/bus.rst
  setup.py
  test/back2back_test.py
  test/test_socketcan_helpers.py
Labels: api, enhancement

#325 Setting _filters to None when filter Iterator is empty
  can/bus.py
  test/test_message_filtering.py
Labels: api

#327 Adding detect_available_configs support to neovi
  can/interfaces/ics_neovi/neovi_bus.py
Labels: api, backend:neovi

#324 Adding proper bitrate and timestamp support for neovi
  can/interfaces/ics_neovi/neovi_bus.py
  setup.py
Labels: backend:neovi

#330 Fix 328
  can/interfaces/vector/canlib.py
Labels: backend:vector, bug

#334 Fixing mismatched parameters in a docstring
  can/interfaces/socketcan/socketcan_common.py
  can/interfaces/socketcan/socketcan_native.py
  can/io/asc.py
Labels: api, backend:socketcan, docs

#336 Stop raising accuracy error for NeoVi
  can/interfaces/ics_neovi/neovi_bus.py
Labels: backend:neovi, minor

#332 Improved channel handling
  can/interfaces/nican.py
  can/interfaces/vector/canlib.py
  can/interfaces/virtual.py
  can/io/asc.py
  can/io/blf.py
  can/io/canutils.py
  can/message.py
  can/notifier.py
  can/util.py
  doc/listeners.rst
  test/logformats_test.py
  test/notifier_test.py
Labels: api, backend:nican, backend:vector, backend:virtual, enhancement

#343 Added a "Features" and an "Example usage" section to the README
  README.rst
  can/io/asc.py
Labels: docs
