Repository hardbyte/python-can, pull requests merged in 2019-07, with the labels that each got.

#632 Add CAN-FD support to CLI tools
  can/logger.py
  can/player.py
  can/util.py
  can/viewer.py
Labels: enhancement

#633 setup.py: require pytest-runner only when necessary
  setup.py
Labels: QA, testing

#610 Add support for multiple Cyclic Messages in Task
  can/broadcastmanager.py
  can/bus.py
  can/interfaces/ixxat/canlib.py
  can/interfaces/socketcan/socketcan.py
  examples/cyclic_multiple.py
  test/test_socketcan_cyclic_multiple.py
Labels: api, bug, enhancement

#638 Read the BCM status before creating a Task
  can/interfaces/socketcan/constants.py
  can/interfaces/socketcan/socketcan.py
  test/test_cyclic_socketcan.py
Labels: backend:socketcan, bug

#637 Fix iteration in Bus.stop_all_periodic_tasks
  can/bus.py
Labels: bug

#635 VectorBus - add xlCanRequestChipState to vxlapi.py
  can/interfaces/vector/vxlapi.py
Labels: api, backend:vector, enhancement

#640 PCAN: add support for detecting available channels
  can/interfaces/pcan/pcan.py
Labels: api, backend:pcan

#641 vector: specify CAN FD support in config detection
  can/interfaces/vector/canlib.py
  can/interfaces/vector/vxlapi.py
Labels: api, backend:vector

#642 Add some internal comments on the socketcan module
  can/interfaces/socketcan/socketcan.py
Labels: backend:socketcan, docs, minor

#646 add test for vector interface
  can/interfaces/vector/canlib.py
  can/interfaces/vector/vxlapi.py
  can/interfaces/vector/xlclass.py
  can/interfaces/vector/xldefine.py
  can/interfaces/vector/xldriver.py
  test/test_vector.py
Labels: QA, backend:vector, testing

#654 Add sphinx-autodoc-typehints to sphinx docs
  doc/conf.py
  doc/doc-requirements.txt
Labels: docs, enhancement
