Repository hardbyte/python-can, pull requests merged in 2019-03, with the labels that each got.

#511 Improve USB2CAN interface
  can/interfaces/usb2can/serial_selector.py
  can/interfaces/usb2can/usb2canInterface.py
  can/interfaces/usb2can/usb2canabstractionlayer.py
  doc/interfaces/usb2can.rst
Labels: backend:usb2can, enhancement

#532 Remove support for Python 3.4 + update testing dependencies
  .appveyor.yml
  .travis.yml
  README.rst
  setup.py
Labels: api

#531 Tiny change to virtual interface
  can/interfaces/virtual.py
Labels: backend:virtual, minor

#534 Fix non-functional USB2CAN interface backend
  can/interfaces/usb2can/usb2canabstractionlayer.py
Labels: backend:usb2can, bug

#536 Updated instances of **config to **kwargs, closes #492
  can/bus.py
  can/interface.py
  can/interfaces/ics_neovi/neovi_bus.py
  can/interfaces/ixxat/canlib.py
  can/interfaces/kvaser/canlib.py
  can/interfaces/systec/ucanbus.py
  can/interfaces/vector/canlib.py
  can/interfaces/virtual.py
Labels: minor
