Repository hardbyte/python-can, pull requests merged in 2020-06, with the labels that each got.

#840 Support PCAN interface on cygwin
  can/interfaces/pcan/basic.py
  doc/interfaces/pcan.rst
Labels: backend:pcan, enhancement

#854 Filter out Tx error messages
  can/interfaces/ics_neovi/neovi_bus.py
Labels: backend:neovi, enhancement

#855 Adding support for transmit (send) timeout in neovi
  can/interfaces/ics_neovi/neovi_bus.py
Labels: backend:neovi, enhancement

#858 Converting vector interface argument to lowercase
  can/interfaces/vector/canlib.py
  can/util.py
  test/test_util.py
  test/test_vector.py
Labels: backend:vector, os:windows
