Repository hardbyte/python-can, pull requests merged in 2020-05, with the labels that each got.

#828 Possible fix for tests sometimes failing
  test/simplecyclic_test.py
Labels: os:osx, testing

#820 ASCII Reader/Writer enhancements
  can/io/asc.py
  test/data/example_data.py
  test/data/logfile.asc
  test/data/test_CanErrorFrames.asc
  test/data/test_CanFdMessage.asc
  test/data/test_CanFdMessage64.asc
  test/data/test_CanFdRemoteMessage.asc
  test/data/test_CanMessage.asc
  test/data/test_CanRemoteMessage.asc
  test/logformats_test.py
Labels: enhancement, file-io

#766 Clean up socketcan
  can/interfaces/socketcan/socketcan.py
  can/interfaces/socketcan/utils.py
  can/io/blf.py
  test/test_socketcan_helpers.py
Labels: backend:socketcan, minor

#825 Upload codecov.io artifacts
  .codecov.yml
Labels: QA
