Repository hardbyte/python-can, pull requests merged in 2021-05, with the labels that each got.

#985 Disable command PCAN_ALLOW_ERROR_FRAMES on MAC OSx
  can/interfaces/pcan/pcan.py
Labels: backend:pcan, os:osx

#1025 Add specific exceptions
  can/__init__.py
  can/broadcastmanager.py
  can/bus.py
  can/exceptions.py
  can/interface.py
  can/interfaces/ixxat/canlib.py
  can/interfaces/ixxat/exceptions.py
  can/listener.py
  can/util.py
  doc/api.rst
  doc/doc-requirements.txt
  test/test_interface_ixxat.py
  test/test_vector.py
Labels: api, enhancement

#1045 Fix typo introduced in 1025
  can/exceptions.py
Labels: docs, minor

#1029 Fix size/layout of struct needed for time stamping
  can/interfaces/socketcan/socketcan.py
  can/interfaces/udp_multicast/bus.py
  test/back2back_test.py
Labels: backend:socketcan, backend:udp_multicast, bug

#1048 Remove Python 2 leftover from setup.py
  setup.py
Labels: minor

#1042 Add CAN FD support to canutils reader and writer
  can/io/canutils.py
  test/data/example_data.py
  test/logformats_test.py
Labels: enhancement, file-io
