Repository hardbyte/python-can, pull requests merged in 2022-04, with the labels that each got.

#1293 Fix AttributeError in IscanError
  can/interfaces/iscan.py
Labels: bug, backend:iscan

#1296 add missing vector devices
  can/interfaces/vector/xldefine.py
Labels: backend:vector

#1302 Test python 3.11 in CI
  .github/workflows/build.yml
  test/test_viewer.py
  tox.ini
Labels: testing
