Repository hardbyte/python-can, pull requests merged in 2022-09, with the labels that each got.

#1369 socketcan: Make find_available_interfaces() find slcanX interfaces
  can/interfaces/socketcan/utils.py
  doc/interfaces/socketcan.rst
  test/open_vcan.sh
  test/test_socketcan_helpers.py
Labels: backend:socketcan

#1387 Extend XL api wrapper
  can/interfaces/vector/xlclass.py
  can/interfaces/vector/xldefine.py
  can/interfaces/vector/xldriver.py
Labels: backend:vector

#1390 Test on vector virtual bus if XL API is available
  can/interfaces/vector/canlib.py
  test/test_vector.py
Labels: backend:vector, testing

#1392 Provide meaningful error message for xlGetApplConfig error
  can/interfaces/vector/canlib.py
Labels: backend:vector
