Repository hardbyte/python-can, pull requests merged in 2023-02, with the labels that each got.

#1521 Print all recorded warnings for failing test
  test/test_util.py
Labels: testing, PyPy

#1516 Vector: refactor bit timing setup
  can/interfaces/vector/canlib.py
  can/interfaces/vector/xldriver.py
  test/test_vector.py
Labels: backend:vector

#1520 Add BitTiming/BitTimingFd support to NiXNETcanBus
  can/interfaces/nixnet.py
  setup.py
Labels: backend:nixnet

#1490 Improve slcan.py
  can/interfaces/slcan.py
  test/test_slcan.py
Labels: backend:slcan

#1514 Implement BitTiming/BitTimingFD handling for PCAN Bus
  can/interfaces/pcan/basic.py
  can/interfaces/pcan/pcan.py
  test/test_pcan.py
Labels: backend:pcan
