Repository hardbyte/python-can, pull requests merged in 2023-07, with the labels that each got.

#1627 Support for network ID above 255
  can/interfaces/ics_neovi/neovi_bus.py
Labels: bug, backend:neovi

#1628 Fix IXXAT periodic messages not working
  can/interfaces/ixxat/canlib.py
Labels: bug, backend:ixxat

#1634 Fix Vector channel detection
  can/interfaces/vector/canlib.py
Labels: bug, backend:vector

#1635 Align `ID:` in message string
  can/message.py
  doc/message.rst
Labels: enhancement, minor
