Repository hardbyte/python-can, pull requests merged in 2023-01, with the labels that each got.

#1474 Add `ignore_config` parameter to can.Bus
  can/interface.py
  test/test_bus.py
Labels: api

#1476 Run doctest in CI
  .github/workflows/ci.yml
  can/bus.py
  can/exceptions.py
  can/interfaces/kvaser/canlib.py
  doc/interfaces/ixxat.rst
  doc/message.rst
Labels: docs, QA

#1477 Add deprecation period to deprecated_args_alias
  can/interface.py
  can/interfaces/ixxat/canlib_vcinpl.py
  can/interfaces/ixxat/canlib_vcinpl2.py
  can/interfaces/vector/canlib.py
  can/util.py
  test/test_util.py
Labels: docs, QA

#1483 Stop using root logger in usb2can
  can/interfaces/usb2can/serial_selector.py
Labels: enhancement, backend:usb2can

#1486 Vector: Check sample point instead of tseg & sjw
  can/interfaces/vector/canlib.py
  test/test_vector.py
Labels: bug, backend:vector

#1480 USB2CAN: Faster channel detection on Windows
  can/interfaces/usb2can/serial_selector.py
Labels: backend:usb2can

#1481 Update PCAN Basic to 4.6.2.753
  can/interfaces/pcan/basic.py
  can/interfaces/pcan/pcan.py
  test/test_pcan.py
Labels: backend:pcan

#1410 Add usage of select instead of pulling for Linux based platform (PCAN Interface)
  can/interfaces/pcan/basic.py
  can/interfaces/pcan/pcan.py
  test/test_pcan.py
Labels: enhancement, backend:pcan

#1468 Unify bit timings with separate class for CAN FD
  can/__init__.py
  can/bit_timing.py
  can/interfaces/canalystii.py
  can/interfaces/cantact.py
  can/typechecking.py
  can/util.py
  doc/bit_timing.rst
  doc/conf.py
  doc/images/bit_timing_dark.svg
  doc/images/bit_timing_light.svg
  test/test_bit_timing.py
  test/test_cantact.py
  test/test_interface_canalystii.py
  test/test_util.py
Labels: enhancement, major, api

#1502 VectorBus: improve robustness against unknown HardwareType values
  can/interfaces/vector/canlib.py
Labels: bug, backend:vector

#1499 Automatic type conversion for config values
  can/logger.py
  can/util.py
  test/test_load_config.py
  test/test_util.py
Labels: bug

#1509 Vector: Update XL_HardwareType
  can/interfaces/vector/xldefine.py
Labels: backend:vector

#1470 Add BitTiming/BitTimingFd support to VectorBus
  can/interfaces/vector/canlib.py
  test/test_vector.py
Labels: backend:vector

#1515 Add code example to BitTiming docs
  can/bit_timing.py
  doc/bit_timing.rst
  doc/conf.py
  doc/doc-requirements.txt
  test/test_bit_timing.py
Labels: docs

#1508 Socketcand ext ID bug fixes, and implement channel{_info} and Message attributes
  can/interfaces/socketcand/socketcand.py
Labels: bug, backend:socketcand

#1518 Align ixxat interface's `shutdown()` with `can.BusABC` typing
  can/interfaces/ixxat/canlib.py
Labels: minor, api, backend:ixxat, QA

#1517 Cleanup ixxat interface code
  can/interfaces/ixxat/canlib.py
Labels: minor, QA
