Repository hardbyte/python-can, pull requests merged in 2023-10, with the labels that each got.

#1666 We do not need to account for drift when we USE_WINDOWS_EVENTS
  can/broadcastmanager.py
Labels: bug, os:windows

#1669 Update linters, activate more ruff rules
  can/bit_timing.py
  can/interfaces/gs_usb.py
  can/interfaces/ics_neovi/neovi_bus.py
  can/interfaces/ixxat/canlib.py
  can/interfaces/ixxat/canlib_vcinpl2.py
  can/interfaces/pcan/basic.py
  can/interfaces/pcan/pcan.py
  can/interfaces/socketcand/socketcand.py
  can/interfaces/systec/ucan.py
  can/interfaces/vector/canlib.py
  can/io/asc.py
  can/io/trc.py
  can/logger.py
  can/util.py
  can/viewer.py
  pyproject.toml
  test/back2back_test.py
  test/network_test.py
  test/test_player.py
  test/test_slcan.py
  test/test_socketcan.py
  test/test_vector.py
Labels: QA

#1672 PCAN: remove Windows registry check
  can/interfaces/pcan/basic.py
Labels: bug, backend:pcan

#1673 Test python 3.12
  .github/workflows/ci.yml
  pyproject.toml
Labels: QA

#1678 skip the can_op_mode check if the device reports can_op_mode=0
  can/interfaces/vector/canlib.py
Labels: backend:vector

#1671 add the possibility to return all the possible solutions using the from_sample_point static methods
  can/bit_timing.py
  test/test_bit_timing.py
Labels: api

#1679 Allow RestartableCyclicTaskABC using Windows events to restart
  can/broadcastmanager.py
  test/simplecyclic_test.py
Labels: bug, critical

#1607 Implement _detect_available_configs for the Ixxat bus.
  can/interfaces/ixxat/canlib.py
  can/interfaces/ixxat/canlib_vcinpl.py
  can/interfaces/ixxat/canlib_vcinpl2.py
  can/interfaces/pcan/pcan.py
  doc/interfaces/ixxat.rst
  test/test_interface_ixxat.py
Labels: backend:ixxat

#1510 Add BitTiming/BitTimingFd support to KvaserBus
  can/interfaces/kvaser/canlib.py
  test/test_kvaser.py
Labels: help wanted, backend:kvaser

#1681 Vector: use global channel_index if provided
  CHANGELOG.md
  can/interfaces/vector/canlib.py
  test/test_vector.py
Labels: bug, backend:vector
