Repository hardbyte/python-can, pull requests merged in 2024-01, with the labels that each got.

#1724 Extend ruff linter configuration
  .github/workflows/format-code.yml
  can/bus.py
  can/ctypesutil.py
  can/interface.py
  can/interfaces/etas/__init__.py
  can/interfaces/gs_usb.py
  can/interfaces/ics_neovi/neovi_bus.py
  can/interfaces/ixxat/canlib_vcinpl.py
  can/interfaces/ixxat/canlib_vcinpl2.py
  can/interfaces/kvaser/canlib.py
  can/interfaces/nixnet.py
  can/interfaces/pcan/basic.py
  can/interfaces/pcan/pcan.py
  can/interfaces/robotell.py
  can/interfaces/seeedstudio/seeedstudio.py
  can/interfaces/serial/serial_can.py
  can/interfaces/slcan.py
  can/interfaces/socketcan/socketcan.py
  can/interfaces/socketcand/socketcand.py
  can/interfaces/systec/structures.py
  can/interfaces/udp_multicast/bus.py
  can/interfaces/usb2can/usb2canabstractionlayer.py
  can/interfaces/vector/canlib.py
  can/io/logger.py
  can/io/mf4.py
  can/io/player.py
  can/io/printer.py
  can/io/trc.py
  can/listener.py
  can/logger.py
  can/util.py
  can/viewer.py
  pyproject.toml
  test/back2back_test.py
  test/network_test.py
Labels: QA

#1725 Move pylint config to pyproject.toml
  .github/workflows/ci.yml
  .pylintrc
  can/io/logger.py
  can/io/trc.py
  doc/conf.py
  doc/development.rst
  pyproject.toml
Labels: QA

#1703 Convert `can.Logger` and `can.LogReader` into functions
  can/io/__init__.py
  can/io/logger.py
  can/io/player.py
  can/io/printer.py
  doc/api.rst
  doc/configuration.rst
  doc/development.rst
  doc/file_io.rst
  doc/internal-api.rst
  doc/notifier.rst
  test/logformats_test.py
  test/test_rotating_loggers.py
Labels: file-io

#1723 Enable echo frames in PCAN driver if receive_own_messages is set
  can/interfaces/pcan/pcan.py
Labels: backend:pcan

#1731 Use ctypes.util.find_library to find vxlapi dll
  can/interfaces/vector/canlib.py
  can/interfaces/vector/xldriver.py
Labels: bug, backend:vector

#1734 Fix ASCWriter millisecond handling
  can/io/asc.py
  test/data/single_frame_us_locale.asc
  test/logformats_test.py
Labels: file-io

#1716 Vector: Connect to CANFD bus without specifying timings
  can/interfaces/vector/canlib.py
  test/test_vector.py
Labels: backend:vector
