Repository hardbyte/python-can, pull requests merged in 2025-02, with the labels that each got.

#1904 Fix slcanBus.get_version() and slcanBus.get_serial_number()
  can/interfaces/slcan.py
  pyproject.toml
  test/test_slcan.py
Labels: bug, backend:slcan

#1914 udp_multicast interface: support windows
  can/interfaces/udp_multicast/bus.py
  doc/interfaces/udp_multicast.rst
  pyproject.toml
  test/back2back_test.py
Labels: backend:udp_multicast

#1921 Fix timestamp offset bug in BLFWriter
  can/io/blf.py
  test/data/example_data.py
Labels: bug, file-io
